<%- include('header') -%>

<h1>Undir&shy;skriftar&shy;listi — umsjón</h1>
<div>
  <p>Innskráður sem: <strong><%= user.username %></strong></p>
</div>
<a href="/admin/logout">Útskrá</a>

<%- include('list') -%>

<%- include('footer') -%>
