<%- include('header') -%>

<h1>Innskráning</h1>
<form method="post" action="/admin/login">
    <div>
      <label for="username">Notendanafn </label>
      <input type="text" name="username">
    </div>
    <div>
      <label for="password">Lykilorð </label>
      <input type="text" name="password">
    </div>
    <p class="error"><%= message %></p>
    <div class="button">
        <button>Innskrá</button>
    </div>
</form>

<a href="/">Til baka</a>

<%- include('footer') -%>
